/**
 * Custom block styles file
 * 
 * Table of contents
 * 1. Extending Quote
 * 
 * Authors: dFlow Team
 * Created by: Kadek Pradnyana (https://github.com/Pradnyana28)
 *
 * Color Schemes:
 * Pink: #ec008c
 * Bark Chocolate: #231f20
 * 
 * WordPress Docs: https://developer.wordpress.org/block-editor/tutorials/javascript/extending-the-block-editor/
 */

/* 1. Quote */
.is-style-critical-quote {
    color: #ec008c;
    border-left: 1px solid #ec008c;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    position: relative;
}
.is-style-critical-quote:before {
    font-family: feather !important;
    content: "\e81c";
    position: absolute;
    left: -70px;
    font-size: 50px;
    top: 15%;
}

/* 2. List Styles */
.is-style-pink-list {
    list-style: none !important;
    padding-left: 0 !important;
}
.is-style-pink-list li {
    line-height: 30px;
}
.is-style-pink-list li:before {
    content: "\2022";
    font-size: 20px;
    color: #ec008c;
    font-weight: bold;
    display: inline-block;
    width: 18px;
}
.is-style-pink-list-background {
    background: #ec008c;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    margin-top: -50px;
}
.is-style-pink-list-background ul li {
    color: #ffffff;
}
.is-style-pink-list-with-border {
    list-style: none !important;
    padding-left: 0 !important;
}
.is-style-pink-list-with-border li {
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}
.is-style-pink-list-with-border li:before {
    content: "\2022";
    font-size: 20px;
    color: #ec008c;
    font-weight: bold;
    display: inline-block;
    width: 18px;
}

/* 3. Image Styles */
.is-style-with-dark-background {
    display: flex !important;
    flex-direction: column-reverse;
    background: #231f20;
    padding: 30px;
}
.is-style-with-dark-background figcaption {
    color: #ffffff;
    font-size: 14px;
    text-align: left;
}
.is-style-with-dark-background figure {
    display: flex !important;
    flex-direction: column-reverse;
}

/* 3. Separator */
.wp-block-separator {
    border: none;
    border-bottom: 4px solid #8f98a1;
    margin: 50px auto;
}
.wp-block-separator.is-style-default {
    max-width: 250px;
}
.wp-block-separator.is-style-wide {
    border-bottom-width: 4px;
}
.wp-block-separator.is-style-dots:before {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 50px;
}
.wp-block-separator.is-style-five-dots-separator {
    background: none;
    border: none;
    text-align: center;
    max-width: none !important;
    line-height: 1;
    height: auto;
}
.wp-block-separator.is-style-five-dots-separator:before {
    content: "\00b7 \00b7 \00b7 \00b7 \00b7";
    color: #191e23;
    font-size: 50px;
    letter-spacing: 50px;
    padding-left: 2em;
    font-weight: bold;
    font-family: serif;
}
.wp-block-separator.is-style-blank-separator {
    border: none;
}
.wp-block-separator.is-style-blank-separator:before {
    content: "";
    height: 50px;
}

/* 4. Color Palettes */
.is-style-dots.has-border-color-green:before,
.is-style-five-dots-separator.has-border-color-green:before {
    color: #58AD69 !important;
}
.is-style-dots.has-border-color-pink:before,
.is-style-five-dots-separator.has-border-color-pink:before {
    color: #ec008c !important;
}
.is-style-dots.has-border-color-bark-chocolate:before,
.is-style-five-dots-separator.has-border-color-bark-chocolate:before {
    color: #231f20 !important;
}
.is-style-dots.has-border-color-blue:before,
.is-style-five-dots-separator.has-border-color-blue:before {
    color: #59BACC !important;
}
.is-style-dots.has-border-color-yellow:before,
.is-style-five-dots-separator.has-border-color-yellow:before {
    color: #FFBC49 !important;
}
.is-style-dots.has-border-color-white:before,
.is-style-five-dots-separator.has-border-color-white:before {
    color: #ffffff !important;
}
.has-background.has-pink-background-color {
    background: #ec008c;
}

.has-text-color.has-white-color {
    color: #ffffff;
}

.has-border-color-green {
    border-bottom-color: #58AD69 !important;
}
.has-border-color-pink {
    border-bottom-color: #ec008c !important;
}
.has-border-color-bark-chocolate {
    border-bottom-color: #231f20 !important;
}
.has-border-color-blue {
    border-bottom-color: #59BACC !important;
}
.has-border-color-yellow {
    border-bottom-color: #FFBC49 !important;
}
.has-border-color-orange {
    border-bottom-color: #E2574C !important;
}
.has-border-color-white {
    border-bottom-color: #ffffff !important;
}

/* 5. Advance Table */
.wp-block-advgb-table thead tr td {
    font-size: 14px !important;
}
.wp-block-advgb-table thead tr:last-child td {
    border-bottom-color: #E8E8E8 !important;
    border-bottom-width: 1px !important;
}
.wp-block-advgb-table thead tr:first-child td:first-child {
    font-size: 20px !important;
}
.wp-block-advgb-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #FAF7F9 !important;
}
.wp-block-advgb-table.is-style-stripes tbody tr td {
    font-size: 11px !important;
    border-right: 1px solid #e8e8e8;
}
.wp-block-advgb-table.is-style-stripes tbody tr td:first-child {
    font-size: 11px !important;
    color: #000000 !important;
}
.wp-block-advgb-table.is-style-stripes tbody tr td:last-child {
    border-right: none !important;
}
.wp-block-advgb-table.is-style-colorful-table-fixed-footer tbody tr td {
    border-right-color: #e8e8e8 !important;
    border-right-width: 1px !important;
    border-width: 1px !important;
    border-bottom-width: 4px !important;
}
.wp-block-advgb-table.is-style-colorful-table-fixed-footer tbody tr:first-child td:first-child {
    font-size: 20px !important;
}
.wp-block-advgb-table.is-style-colorful-table-fixed-footer tbody tr:first-child td:last-child {
    font-size: 16px !important;
}
.wp-block-advgb-table.is-style-colorful-table-fixed-footer tbody tr:last-child td {
    border-bottom: 1px solid #e8e8e8 !important;
}
.wp-block-advgb-table.is-style-colorful-table-fixed-footer tbody tr:first-child td:not(:first-child) {
    border-bottom-width: 1px !important;
    border-bottom-color: #e8e8e8 !important;
}
/* .wp-block-advgb-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: transparent !important;
}
.wp-block-advgb-table.is-style-stripes tbody tr:nth-child(even) {
    background-color: #FAF7F9 !important;
} */

/* Accordion */
summary::-webkit-details-marker {
    display: none;
}
.default-accordion .wp-block-coblocks-accordion-item {
    margin-bottom: 0;
}
.default-accordion .wp-block-coblocks-accordion-item details {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #e8e8e8;
}
.default-accordion .wp-block-coblocks-accordion-item details summary {
    display: block;
    position: relative;
    background: transparent;
    padding: 0;
}
.default-accordion .wp-block-coblocks-accordion-item details summary strong {
    display: block;
    width: 85%;
}
.default-accordion .wp-block-coblocks-accordion-item details summary:hover:after {
    background: transparent;
    outline: none;
}
.default-accordion .wp-block-coblocks-accordion-item details summary:focus {
    outline: none;
}
.default-accordion .wp-block-coblocks-accordion-item details summary:after {
    font-family: feather;
    content: '\e842';
    position: absolute;
    font-size: 25px;
    right: 25px;
    top: 50%;
    margin-top: -18px;
    left: unset;
    bottom: unset;
    transition: .5s;
    color: #ec008c;
}
.default-accordion .wp-block-coblocks-accordion-item details[open] summary:after {
    transform: rotate(180deg);
}
.default-accordion .wp-block-coblocks-accordion-item details div {
    border: none;
    border-radius: 0;
    padding: 10px 0;
}